.vscode
Question 1A Uniform Distribution/Uniform Distribution Dataset Generator
Question 1B Normal Distribution/Normal Distribution Dataset Generator
Assignment 1/Question 1B Normal Distribution/Normal Distribution Dataset Generator
Assignment 1/Question 1A Uniform Distribution/Uniform Distribution Dataset Generator
Assignment 1/Question 2A Merge Sort/Abhiroop's Try/merge_sort
Assignment 1/Question 2B Quick Sort/Abhiroop's Try/quick_sort
Assignment 1/Question 2A Merge Sort/Hritick's Try/merge sort
