.vscode
Question 1A Uniform Distribution/Uniform Distribution Dataset Generator
Question 1B Normal Distribution/Normal Distribution Dataset Generator
Assignment 1/Question 1B Normal Distribution/Normal Distribution Dataset Generator
